.footer{
    margin-top: 150px;
}
.log img{
    width: 157.35px;
    height: 159.75px;
    left: 518px;
    top: 2179px;
}
.log p{
    width: 331px;
    height: 32px;
    right: 518px;
    bottom: 71px;
    margin-left: 500px;

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
/* or 160% */

    text-align: center;

    color: #000000;

}
@media (max-width: 420px){
    .log p{
        margin-left: 19px;
    }
}
@media (min-width: 720px) and (max-width: 1020px){
    .log p{
        margin-left: 250px;
    }
}